<h2> Welcome to your homepage, <%= current_user.username %>!</h2>

<div>
  <table class="bucketlist-table">
    <tr>
      <td><h5>Stadiums in Bucketlist</h5></td>
    </tr>
      <% current_user.areanas.each do |f| %>
      <tr>
        <td> <%= link_to f.name, "/areanas/#{f.id}", class: "bucketlist-stadium-link" %></td><td> <%= link_to "Visited", bucketlist_path(f.bucketlists.first.id), method: "patch" %></td><td> <%= link_to "Remove", bucketlist_path(f.bucketlists.first.id), method: "delete" %></td>
      </tr>
      <% end  %>
  </table>
</div>
