<h2> Welcome to your homepage, <%= current_user.username %>!</h2>

<div>
  <table>
    <tr>
      Stadiums in Bucketlist
    </tr>
    <tr>
      <% current_user.areanas.each do |f| %>
        <p> <%= f.name %> </p>
      <% end  %>
    </tr>
  </table>
</div>
