<h1> hello </h1>
<div>
  <button type="button" class="btn btn-secondary btn-sm" id="Big12">Big 12</button>
  <button type="button" class="btn btn-secondary btn-sm" id="Pac12">Pac 12</button>
  <button type="button" class="btn btn-secondary btn-sm" id="SEC">SEC</button>
  <button type="button" class="btn btn-secondary btn-sm" id="ACC">ACC</button>
  <button type="button" class="btn btn-secondary btn-sm" id="Big10">Big 10</button>
  <button type="button" class="btn btn-secondary btn-sm" id="AAC">AAC</button>
  <button type="button" class="btn btn-secondary btn-sm" id="CUSA">Conference USA</button>
  <button type="button" class="btn btn-secondary btn-sm" id="Indy">Independent</button>
  <button type="button" class="btn btn-secondary btn-sm" id="Sunbelt">Sun Belt</button>
  <button type="button" class="btn btn-secondary btn-sm" id="Mtwest">Mountain West</button>
  <button type="button" class="btn btn-secondary btn-sm" id="Mac">Mac</button>
</div>
<div class="container" id="how">
  <div class="row">
<% @areanas.each do |a| %>
  <div class="col-sm">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <%= a.name %>
      </div>
        <img class="card-img-top" src="http://www.levisstadium.com/wp-content/uploads/2015/09/5D33993-e1442951857632-800x400.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Capacity: <%= a.capacity %></h5>
      <p class="card-title">Location: <%= a.city %>, <%= a.state %><p>
      <p class="card-text">This is where more stadium information will go.</p>
    </div>
    <div class="card-footer">
      <a href="#" class="btn btn-primary">Visit Page</a>
    </div>
  </div>
</div>
<% end %>
</div>
</div>
