/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 form.new_user {
   margin: 100px auto 100px auto;
   border: 5px solid #dcdcdc;
   border-radius: 10px;
   text-align: center;
   width: 400px;
 }

 .sign-up-form {
   border-bottom: 1px solid #efefef;
   margin: 10px;
   padding-bottom: 10px;
   width: 260px;
   height: 25px;
 }

 .login-text {
   text-align: center;
 }

 .log {
   width: 390px;
 }

 .login-form {
   border-bottom: 1px solid #efefef;
   margin: 10px;
   padding-bottom: 10px;
   width: 260px;
   /* height: 25px; */
 }

 .sign-up-form-title {
   float: left;
   width: 100px;
   text-align: center;
   padding-right: 10px;
 }

 .login {
   float: left;
   width: 143px;
   text-align: center;
   padding-right: 10px;
 }

 .pw-confirmation {
   text-align: justify;
 }

 .sign-up-real-title {
   text-align: center;
 }

 .homepage-text {
   position: absolute;
   width: 300px;
   height: 200px;
   z-index: 15;
   top: 50%;
   left: 50%;
   margin: -100px 0 0 -150px;
   text-align: center;
 }

 .signup-button {
   font-weight: bold;
   font-size: 48px;
   color: #FFF;
 }

 .front-page-text {
   font-weight: bold;
   font-family: sans-serif;
   font-size: 24px;
   color: #FFF;
   padding: 12px;
 }

 .submit-button {
   background: #0066A2;
   color: white;
   border-style: outset;
   border-radius: 10px;
   border-color: #0066A2;
   height: 40px;
   width: 100px;
   font: bold 15px arial, sans-serif;
   text-shadow:none;
 }

 .dropbtn {
   background-color: #4CAF50;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
   cursor: pointer;
 }

 .dropdown {
   position: relative;
   display: inline-block;
 }

 .dropdown_content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   min-width: 160px;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }

 .dropdown_content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }

 .dropdown_content a:hover {background-color: #f1f1f1}

 .dropdown:hover .dropdown_content {
   display: block;
 }

 .dropdown:hover .dropbtn {
   background-color: #3e8e41;
 }

 .highlight {
    background: #ff0;
}

 .location-card {
   text-overflow: ellipsis;
   max-height: 24px;
   font-size: 14px;
 }

 #card-texts {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 #location-card-text {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .all-stadium-toggle-btns {
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .navbar-unordered {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
 }

 .navbar-unordered li {
   float: left;
 }

 .navbar-unordered li:last-child {
   width: 500px;
   float: right;
   padding-top: 7px;
   position: relative;
 }

 .navbar-unordered li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 li a:hover {
    background-color: #111;
 }

 .comments-div {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }

 .comments-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   border-style: hidden;
   border-radius: 4px;
   background-color: white;
 }

 .comments-list li {
   padding-bottom: 5px;
   padding-left: 2px;
   padding-right: 2px;
 }

 .rate-stadium-list {
   list-style-type: none;
 }

 .rate-stadium-list li {
   
 }

 .bucketlist-table {
   border-collapse: collapse;
 }

 .bucketlist-table tr td {
   padding-right: 20px;
 }

 .bucketlist-table tr:nth-child(even) {
   background-color: #f2f2f2;
 }

 .comments-input-div{
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
 }

 .comments-input-lists {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 .comments-input-lists li {
   padding-bottom: 5px
 }

 #comment_body {
   width: 100%;
 }

 #comments-container {
   padding-top: 10px;
 }

 .team-button {
   cursor: pointer;
 }

 .all-stadium-toggle-btns {
   padding-left: 13%;
 }

 #autocomplete-results {
   position: fixed;
   list-style-type: none;
   padding-right: 50px;
   max-height: 200px;
   max-width: 400px;
   overflow: scroll;
   z-index: 99;
 }



 .result {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 100px;
  max-width: 400px;
  min-width: 400px;
  position:relative;
  padding: 5px;
  cursor: pointer;
  background-color: white;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  z-index: 99;
  top: 100%;
  left: -40px;
  right: 0;
 }

 .unordered-stadiums-list li:last-child {
   float: left;
 }

 .unordered-stadiums-list li:hover {
   background-color: #f2f2f2;
 }

 #search-bar {
   width: 400px;
 }

 .auto-div {
   max-height: 300px;
   overflow: scroll;
 }

 #card-head {
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .stadium-name-on-show {
   text-align: center;
   font-size: 40px;
   width: 100%;
   padding: 10px;
 }
